
# ignore files in guidelines/ 
0_guideline/

*.bed
*.bed.gz
*.ped
*.ped.gz
*.vcf
*.vcf.gz
*.map
*.nosex
*.csv
*.txt
# ignore files in data/
data/
*.P 
*.Q

# ignore .ipynb_checkpoints folder
.ipynb_checkpoints/

# all csv files except Data/DataS1_freq_labels (curated).csv
*.csv
!Data/DataS1_freq_labels (curated).csv

*_SD.csv.gz

